@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
 
<p>
    Fitness Center is more than just a health club. Our center is a
</p>
<p> family-friendly fitness club for members of all ages and abilities. </p>
<p>   We offer a wide range of specialty programs from kids to seniors</p>
<p>   including youth fitness programs, performance programs for athletes, </p>
<p> senior programs, weight management and special populations programs.</p>

<p> Fitness Center is staffed by the most educated and experienced professionals</p>
<p> in the field. You won't find another club that offers more expert and </p>
<p>  friendly service than us.</p>
<p> For more information please contact with us </p>

<address>
    <strong>Contact:</strong>   <a href="mailto:kaan.biryol@isik.edu.tr">tugce.dal@isik.edu.tr</a><br />
    <p><strong>Number:</strong> 0216 850 23 22</p>

</address>