@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title </h2>
<h3>@ViewBag.Message</h3>

<address>
    IŞIK UNIVERSITY<br />
    University Str., 2 ŞİLE /Istanbul, 34980<br />
    <abbr title="Phone">P:</abbr>
    (0-216) 712 14 60
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kaan.biryol@isik.edu.tr">kaan.biryol@isik.edu.tr</a><br />
    <strong>Support:</strong>   <a href="mailto:bilal.kutlu@isik.edu.tr">bilal.kutlu@isik.edu.tr</a><br />
    <strong>Marketing:</strong> <a href="mailto:tugce.dal@isik.edu.tr">tugce.dal@isik.edu.tr</a><br />
    <strong>Marketing:</strong> <a href="mailto:alperen.esengin@isik.edu.tr">alperen.esengin@isik.edu.tr</a>

</address>