@model IEnumerable<FitnessCenterv2.Staff>

@{
    ViewBag.Title = "Control Panel";
}

<h2>Welcome</h2>
@Html.ActionLink("Manage Staff", "ManageStaff", "Manager")<br />
@Html.ActionLink("Manage Equipment", "ManageEquipment", "Manager")<br />
@Html.ActionLink("View Reports", "ReportList", "Manager")

 