
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add Schedule", "AddWorkoutSchedule", "Trainer")<br />
@Html.ActionLink("Show my customers", "getCustomer", "Trainer")<br />
@Html.ActionLink("Edit Schedule", "EditSchedule", "Trainer")<br />
@Html.ActionLink("Equipment Report", "GenerateReport", "Trainer")<br />