
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Get Customers", "getCustomers", "Trainer")<br />
@Html.ActionLink("Manage Programs", "ManagePrograms", "Trainer")<br>
@Html.ActionLink("Add Workout Schedule", "EditSchedule", "Trainer")<br>
@Html.ActionLink("Select a Program", "SelectProgram", "Customer")
