
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Get Customers", "getCustomers", "Trainer")<br />
@Html.ActionLink("Manage Programs", "ManagePrograms", "Trainer")<br>
@Html.ActionLink("My Schedule", "MySchedule", "Trainer")<br>