@model IEnumerable<FitnessCenterv2.Customer>

@{
    ViewBag.Title = "Index2";
}

<h2>Index</h2>
@Html.ActionLink("Manage Customer", "ManageCustomer", "Staff")
@Html.ActionLink("Set Training Schedule", "SetTrainerSchedule", "Staff")

